.header {
  background-image: url("../assets/profile-picture.jpg");
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
  overflow: hidden;
  width: 100%;
}

@media screen and (min-width: 400px) {
  .header {
    height: 500px;
  }
}
